html {
    font-family: "Poppins", sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

 ul {
     list-style-type: none;
 }

 a {
     text-decoration: none;
     color: #000;
 }

/* ---------FORSIDE---------- */
 .grid {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
    "t b";
}

.navigation {
     background-color: #ffffff;
     height: 97px;
     font-size: 14px;
     
}
.logo:hover {
    transform: scaleX(-1);
    transition: 1s;
    align-items: flex-start;
}

.navigation ul {
     display: flex;
 }
.navigation a {
     padding: 5px;
     margin: 0 30px;
 } 


ul a:hover {
     border-bottom: 2px #D72866 solid;
     color: #D72866;
 }

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50px;
    transform: translateY(-50%);
}
nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #000;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}


.kald {
    font-weight: normal;
    background-color: #CFE6D9;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    border: 4px solid #CFE6D9;
 }

 .kald:hover {
     background-color: #D72866;
     color: #fff;
     transition: 0.5s;
     border: 4px solid #D72866;
 }

.container {
     max-width: auto;
     height: fit-content;
     margin: 0 auto;
     overflow: auto;
     padding: 0 40px;
 }

.tekstbox {
    grid-area: t;
    animation: SlideInFromLeft 1s ease-in;
    margin-left: 40px;
}
@keyframes SlideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

h1 {
    font-size: 60px;
    font-weight: 300;
}
.velkommen {
    font-size: 16px;
}
.designer {
    font-size: 20px;
}
.nurse {
    font-size: 15px;
}

.portfolie {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    margin-top: 50px;
    font-size: 15px;
    background: #D72866;
    position: relative;
    cursor: pointer;
}
.portfolie:hover {
    border: 1px solid #CFE6D9;
    background: #CFE6D9;
    color: #000000;
    transition: 0.5s;
}

.flex {
     display: flex;
     height: 100%;
 }

.flex-space-between {
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
 }

.nav-center {
    justify-content: center;
    align-items: center;
}

.nav-start {
    justify-content: start;
}

section {
     color: #000;
 }

.billede {
    align-items: flex-end;
    height: 580px;
    width: 510px;
    margin-left: 50px;
}
.fade-in-image {
    grid-area: b;
    animation: fadeIn 5s;

}
    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }


footer {
    box-sizing:border-box;
    display: inline-grid;
    position: relative;
    width: 100%;
    background: #CFE6D9;
    padding-left: 170px;
    padding-top: 5px;
    padding-right: 170px;
    font-weight: 300;
}

footer h4 {
    font-weight: 400;
}
footer p{
    margin-left: -30px;
}
footer a{
    margin-left: -30px;
}

.copyright {
    text-align: center;
    font-weight: 300;
}
.vl {
    border-left: 2px solid #F2F2F2;
    height: 100px ;
    margin-left: 110px;
    position: absolute;
    top: 0px
}
@media screen and (max-width:800px) {
    .billede {
        align-items: flex-end;
        height: 480px;
        width: 440px;
       
    }

    .grid {
        padding: 0px;
        align-items: start;
        margin-top: 40px;
    }
}


@media screen and (max-width:700px) {
    
    h1 {
        font-size: 40px;
        font-weight: 300;
    }
    .velkommen {
        font-size: 15px;
    }
    .designer {
        font-size: 15px;
    }
    .nurse {
        font-size: 12px;
    }
    .grid {
        padding: 0px;
        align-items: start;
        margin-top: 40px;
    }

    .billede {
        align-items: flex-end;
        height: 380px;
        width: 340px;
    }
}

@media screen and (max-width:550px) {
    .grid {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "b" 
        "k";
        justify-content: space-evenly;
        justify-items: stretch;
        margin: 0;
    }

    .tekstbox {
        grid-area: k;
        padding: 0px;
        margin: 0;
    }
    .billede {
        grid-area: b;
        align-items: flex-end;
        height: 380px;
        width: 340px;
    }
    .portfolie {
        margin: 20px;
        left: 25%;
    }
    
    h1 {
        font-size: 40px;
        font-weight: 300;
        text-align: center;
    }
    .velkommen {
        font-size: 20px;
        text-align: center;
    }
    .designer {
        font-size: 15px;
        text-align: center;
    }
    .nurse {
        font-size: 12px;
        text-align: center;
    }

} 

/* ------- MEDIA QUERIES FOR BURGER MENU ---------- */
@media screen and (max-width:800px) {
    nav .links {
        float: none;
        position: fixed;
        z-index: 100;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(255, 255, 255, 0.865);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 17px;
    }

    nav :checked ~ .links {
        bottom: 0;
    }

    nav .icon-burger {
        display: block;
    }
    
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px)rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}


 /* -------- PORTFOLIO ----------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .portfolio {
    font-size: 60px;
    font-weight: 100;
}
.portfoliotekst p{
    text-align: center;
    font-weight: 200;
    font-size: 15px;
    padding: 20px;
}

 .foto-galleri {
      position: relative;
      width: 100%;
      max-width: 950px;
      margin: 0 auto;
      padding: 50px 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      grid-auto-rows: 250px;
      grid-auto-flow: dense;
      grid-gap: 20px;
  }

  .foto-galleri .foto-box {
      position: relative;
      background-color: #e8f2ec;
      overflow: hidden;
  }

  .foto-galleri .foto-box:nth-child(4n + 1) {
      grid-column: span 2;
      grid-row: span 2;
  }
  .foto-galleri .foto-box img {
      width: 100%;
      height: 100%;
      object-fit:contain;
      transition: all 0.5s ease;
  }

  .foto-galleri .foto-box:hover img {
      transform: scale(1.1);
  }

  .foto-galleri .foto-box .overlay {
      position: absolute;
      background-color: #CFE6D9;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all 0.5s ease;
      z-index: 1;
      padding: 0px 15px 0px 15px;
  }

  .foto-galleri .foto-box:hover .overlay {
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      opacity: 1;
  }

  .foto-galleri .foto-box .detaljer {
      text-align: center;
  }

  .foto-galleri .foto-box .detaljer .titel {
      margin-bottom: 8px;
      font-size: 20px;
      font-weight: 600;
      position: relative;
      top: -5px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
  }

  .foto-galleri .foto-box .detaljer .kategori {
      font-size: 14px;
      font-weight: 400;
      position: relative;
      bottom: -5px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
  }

  .foto-galleri .foto-box:hover .detaljer .titel {
      top: 0px;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s 0.3s ease;
  }

  .foto-galleri .foto-box:hover .detaljer .kategori {
      bottom: 0;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s 0.2s ease;
  }

  

  @media screen and (max-width:768px) {
    .foto-galleri {
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-auto-rows: 250px;
    }   

    .foto-galleri .foto-box:nth-child(4n + 1) {
        grid-column: unset;
        grid-row: unset;
    }
  }



  /* -------- OM MIG ----------- */
.bodyommig {
    background-image: url('billeder/baggrund.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 200px;
}

main .ommig {
    font-size: 60px;
    font-weight: 100;
}

main .containerkompetencer {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px;
    grid-template-areas: 
    "k b";   
}
.jeaskov {
    grid-area: k;
    align-self: center;
    justify-self: center;
    height: 400px;
    width: 400px;
}

.myskills {
    grid-area: b;
    list-style: none;
    width: 550px;
    height: 700px;
    margin: 10px auto;
    margin-left: 20px;
    color: #000;
}

.navn {
    font-weight: 400;
    font-size: 40px;
    color: #D72866;
    margin-bottom: -5px;

}
.multimedie {
    font-weight: 200;
    font-size: 15;
    color:rgb(130, 129, 129);
    font-style: italic;
}

.story {
    margin-top: 15px;
    font-weight: 200;
    font-size: 15px;
}

.du {
    font-weight: 400;
}

.citat {
    display:block;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color:rgb(130, 129, 129);
}

.fordig {
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}

.kompetencer {
    margin: 40px 0 70px 0;
}

.kontaktknap {
    text-decoration: none;
    color: #fff;
    border: 1px solid #D72866;
    padding: 12px 34px;
    font-size: 15px;
    background: #D72866;
    position: relative;
    cursor: pointer;
    }
.kontaktknap:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
    transition: 0.5s;
    }


@media screen and (max-width:982px)  {
    main .containerkompetencer {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 600px;
        grid-template-areas: 
        "b" 
        "k";
        justify-content: space-evenly;
        justify-items: stretch;
    }
    .myskills {
        grid-area: k;
        list-style: none;
        width: 550px;
        height: 700px;
        margin: 10px auto;
        margin-left: 20px;
        color: #000;
        margin-top: -150px;
    }
    .jeaskov {
        grid-area: b;
        align-self: center;
        justify-self: center;
        margin-top: -200px;
    }
}

@media screen and (max-width: 600px) {
    .myskills {
        grid-area: k;
        list-style: none;
        width: 354px;
        height: auto;
        margin: 10px auto;
        margin-left: 20px;
        color: #000;
        margin-top: -150px;
    }
    .jeaskov {
        height: 60%;
        width: 95%;
    }

    .fordig {
        font-size: 19px;
        margin-top: 20px;
        font-weight: 200;
    }

}

/* -------- KONTAKT ----------- */

main .kontakt {
    font-size: 60px;
    font-weight: 100;
}

.sectionkontakt {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #CFE6D9;
}

.kontaktcontainer {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 50;
}

.kontaktcontainer .kontaktinfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #fff;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.kontaktcontainer .kontaktinfo h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D72866;
    font-size: 35px;
    font-weight: 300;
}

.kontaktcontainer .kontaktinfo .insta {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    font-size: 17px;
}

.kontaktcontainer .kontaktform {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
    font-weight: 300;
}

.kontaktform {
    display: grid;
    align-content: center;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas:
    "a b c"
    "d e f"
    "g h j";
}

.emaillogo  {
    grid-area: a;
    margin-bottom: 40px;
}

.mail {
    grid-area: b;
    margin-bottom: 40px;
}

.calllogo  {
    grid-area: d;
    margin-bottom: 40px;
    
}

.telefonkontakt {
    grid-area: e;
    margin-bottom: 40px;
}

.lokationlogo  {
    grid-area: g;
}

.lokationodense {
    grid-area: h;
}

.instagram {
    position: relative;
}


@media screen and (max-width : 1200px) {
    .kontaktcontainer {
        width: 80%;
        min-width: auto;
        margin: 20px;
    }
    .kontaktinfo {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
    }
}

@media screen and (max-width : 991px) {

    .sectionkontakt {
        background: #CFE6D9;
    }

    .sectionkontakt::before {
        display: none;
    }
    
    .kontaktcontainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .kontaktcontainer .kontaktform {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .kontaktcontainer .kontaktinfo {
        display: flex;
        width: 100%;
        height: auto;  
        top: -20px;
    }
    .insta {
        margin-top: 15px;
    }

    footer .flex {
        display: grid;
        align-content: center;
        text-align: center;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        ". b ."
        ". e ."
        ". h .";
        height: auto;
        width: 100%;
    }

    footer .email  {
        grid-area: b;
        text-align: center;
        padding-top: 30px;
    }

    footer .email a {
        padding-left: 60px;
    }

    footer .telefon {
        grid-area: e;
        padding: 20px 0 20px 0;
    }
    
    footer .lokation {
        grid-area: h;
    }

    .copyright {
        text-align: center;
    }

}

@media screen and (max-width : 650px) {
    .kontaktcontainer .kontaktform {
        padding: 25px;
    }

    .kontaktcontainer .kontaktinfo {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
}